<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fms.mapper.CyFileMapper">
    
    <resultMap type="CyFile" id="CyFileResult">
        <result property="fileId"    column="file_id"    />
        <result property="folderId"    column="folder_id"    />
        <result property="documentType"    column="document_type"    />
        <result property="matchId"    column="match_id"    />
        <result property="documentName"    column="document_name"    />
        <result property="documentLabel"    column="document_label"    />
        <result property="uploadTime"    column="upload_time"    />
        <result property="modifyTime"    column="modify_time"    />
        <result property="url"    column="url"    />
        <result property="projectId"    column="project_id"    />
        <result property="salesContractNo"    column="sales_contract_no"    />
        <result property="materialCode"    column="material_code"    />
        <result property="deliveryNoteNo"    column="delivery_note_no"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectCyFileVo">
        select file_id, folder_id, document_type, match_id, document_name, document_label, upload_time, modify_time, url, project_id, sales_contract_no, material_code, delivery_note_no, batch_no, create_by, create_time, update_by, update_time, del_flag from cy_file
    </sql>

    <select id="selectCyFileList" parameterType="CyFile" resultMap="CyFileResult">
        <include refid="selectCyFileVo"/>
        <where>  
            <if test="folderId != null "> and folder_id = #{folderId}</if>
            <if test="documentType != null  and documentType != ''"> and document_type = #{documentType}</if>
            <if test="matchId != null  and matchId != ''"> and match_id = #{matchId}</if>
            <if test="documentName != null  and documentName != ''"> and document_name like concat('%', #{documentName}, '%')</if>
            <if test="documentLabel != null  and documentLabel != ''"> and document_label = #{documentLabel}</if>
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="salesContractNo != null  and salesContractNo != ''"> and sales_contract_no = #{salesContractNo}</if>
            <if test="materialCode != null  and materialCode != ''"> and material_code = #{materialCode}</if>
            <if test="deliveryNoteNo != null  and deliveryNoteNo != ''"> and delivery_note_no = #{deliveryNoteNo}</if>
            <if test="batchNo != null  and batchNo != ''"> and batch_no = #{batchNo}</if>
        </where>
    </select>
    
    <select id="selectCyFileByFileId" parameterType="Long" resultMap="CyFileResult">
        <include refid="selectCyFileVo"/>
        where file_id = #{fileId}
    </select>

    <insert id="insertCyFile" parameterType="CyFile" useGeneratedKeys="true" keyProperty="fileId">
        insert into cy_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="folderId != null">folder_id,</if>
            <if test="documentType != null and documentType != ''">document_type,</if>
            <if test="matchId != null">match_id,</if>
            <if test="documentName != null and documentName != ''">document_name,</if>
            <if test="documentLabel != null">document_label,</if>
            <if test="uploadTime != null">upload_time,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="url != null">url,</if>
            <if test="projectId != null">project_id,</if>
            <if test="salesContractNo != null">sales_contract_no,</if>
            <if test="materialCode != null">material_code,</if>
            <if test="deliveryNoteNo != null">delivery_note_no,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="folderId != null">#{folderId},</if>
            <if test="documentType != null and documentType != ''">#{documentType},</if>
            <if test="matchId != null">#{matchId},</if>
            <if test="documentName != null and documentName != ''">#{documentName},</if>
            <if test="documentLabel != null">#{documentLabel},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="url != null">#{url},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="salesContractNo != null">#{salesContractNo},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="deliveryNoteNo != null">#{deliveryNoteNo},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateCyFile" parameterType="CyFile">
        update cy_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="folderId != null">folder_id = #{folderId},</if>
            <if test="documentType != null and documentType != ''">document_type = #{documentType},</if>
            <if test="matchId != null">match_id = #{matchId},</if>
            <if test="documentName != null and documentName != ''">document_name = #{documentName},</if>
            <if test="documentLabel != null">document_label = #{documentLabel},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
            <if test="url != null">url = #{url},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="salesContractNo != null">sales_contract_no = #{salesContractNo},</if>
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="deliveryNoteNo != null">delivery_note_no = #{deliveryNoteNo},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteCyFileByFileId" parameterType="Long">
        delete from cy_file where file_id = #{fileId}
    </delete>

    <delete id="deleteCyFileByFileIds" parameterType="String">
        delete from cy_file where file_id in 
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
</mapper>